<rpp-loading *ngIf="articleLoading$ | async"></rpp-loading>
<div class="article-page" *ngIf="article$ | async as article">
  <div class="banner">
    <div class="container">
      <h1>{{ article.title }}</h1>

      <div class="article-meta">
        <rpp-article-meta
          [article]="article"
          (follow)="onFollowAuthor()"
          (unfollow)="onUnfollowAuthor()"
          (favorite)="onFavoriteArticle()"
          (follow)="onFollowArticle()"
        ></rpp-article-meta>
      </div>
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <p>{{ article.description }}</p>
        <h2 id="introducing-ionic">{{ article.title }}</h2>
        <p>{{ article.body }}</p>
      </div>
    </div>

    <hr />

    <div class="article-actions">
      <div class="article-meta">
        <rpp-article-meta
          [article]="article"
          (follow)="onFollowAuthor()"
          (unfollow)="onUnfollowAuthor()"
          (favorite)="onFavoriteArticle()"
          (follow)="onFollowArticle()"
        ></rpp-article-meta>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <form class="card comment-form">
          <div class="card-block">
            <textarea
              class="form-control"
              placeholder="Write a comment..."
              rows="3"
            ></textarea>
          </div>
          <div class="card-footer">
            <img
              src="http://i.imgur.com/Qr71crq.jpg"
              class="comment-author-img"
            />
            <button class="btn btn-sm btn-primary">
              Post Comment
            </button>
          </div>
        </form>

        <div class="card">
          <div class="card-block">
            <p class="card-text">
              Mock data implement!
            </p>
          </div>
          <div class="card-footer">
            <a href="" class="comment-author">
              <img
                src="http://i.imgur.com/Qr71crq.jpg"
                class="comment-author-img"
              />
            </a>
            &nbsp;
            <a href="" class="comment-author">mock author - Jerichon</a>
            <span class="date-posted">mock date - 29th Dec 2019</span>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <p class="card-text">
              Mock data implement! With supporting text below as a natural
              lead-in to additional content.
            </p>
          </div>
          <div class="card-footer">
            <a href="" class="comment-author">
              <img
                src="http://i.imgur.com/Qr71crq.jpg"
                class="comment-author-img"
              />
            </a>
            &nbsp;
            <a href="" class="comment-author">
              Mock data implement! Jacob Schmidt</a
            >
            <span class="date-posted"> Mock data implement! Dec 29th</span>
            <span class="mod-options">
              <i class="ion-edit"></i>
              <i class="ion-trash-a"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
