<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link disabled" href="">Your Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="">Global Feed</a>
            </li>
          </ul>
        </div>

        <div *ngFor="let article of articles$ | async" class="article-preview">
          <div class="article-meta">
            <a href="profile.html"><img src="{{ article.profileImg }}" /></a>
            <div class="info">
              <a href="" class="author">{{ article.author }}</a>
              <span class="date">{{ article.publishedOn }}</span>
            </div>
            <button class="btn btn-outline-primary btn-sm pull-xs-right">
              <i class="ion-heart"></i> {{ article.likes }}
            </button>
          </div>
          <a href="" class="preview-link">
            <h1>{{ article.title }}</h1>
            <p>{{ article.description }}</p>
            <span>Read more...</span>
          </a>
        </div>
        <div *ngIf="articlesLoading$ | async; else showLoadMore">
          <div class="article-meta">
            <rpp-loading></rpp-loading>
          </div>
        </div>
        <ng-template #showLoadMore>
          <div class="article-preview">
            <div class="article-meta">
              <button
                class="btn btn-outline-primary btn-sm pull-xs-right"
                (click)="onLoadMoreButton()"
              >
                <i class="ion-plus"></i> Load more...
              </button>
            </div>
          </div>
        </ng-template>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <rpp-loading *ngIf="tagsLoading$ | async"></rpp-loading>
            <a
              href="/tag/{{ tag }}"
              *ngFor="let tag of tags$ | async"
              class="tag-pill tag-default"
              >{{ tag }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
