<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign in</h1>
        <p class="text-xs-center">
          <a routerLink="/register">Don't have an account?</a>
        </p>

        <form (submit)="onSubmit()">
          <rpp-email-and-password
            [formControl]="usernamePasswordControl"
            (keyup.enter)="onSubmit"
          ></rpp-email-and-password>
          <button class="btn btn-lg btn-primary pull-xs-right" type="submit" >
            Sign in
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
