<div [formGroup]="form">
  <fieldset class="form-group">
    <input
      class="form-control form-control-lg"
      type="text"
      placeholder="Email"
      formControlName="email"
      (blur)="onEmailInputBlur()"
      [ngClass]="{ 'ng-invalid': emailErrors?.length }"
    />
    <div
      class="invalid-feedback"
      *ngIf="email.touched && email.invalid && email.errors.required"
    >
      Username in the form of email is required
    </div>
    <div
      class="invalid-feedback"
      *ngIf="email.touched && email.invalid && email.errors.email"
    >
      Invalid email
    </div>
    <div class="invalid-feedback" *ngFor="let e of emailErrors">{{ e }}</div>
  </fieldset>
  <fieldset class="form-group">
    <input
      class="form-control form-control-lg"
      type="password"
      placeholder="Password"
      formControlName="password"
      (blur)="onPasswordInputBlur()"
      [ngClass]="{ 'ng-invalid': passwordErrors?.length }"
    />
    <div
      class="invalid-feedback"
      *ngIf="password.touched && password.invalid && password.errors.required"
    >
      Password is required
    </div>
    <div class="invalid-feedback" *ngFor="let e of passwordErrors">{{ e }}</div>
  </fieldset>
</div>
